@charset "UTF-8";
.col-3 {
	padding-right: 0;
	padding-left: 0;
	height: fit-content;
}

.card-header {
	background-color: #01A5D5 !important;
	color: white;
}

#headingTwo, #headingThree {
	background-color: #6c757d !important;
	padding: 0;
}

#headingTwo {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0 !important;
}

#headingThree {
	margin-top: 3px;
}

.btn-link, .btn-link:hover {
	color: white;
}

.fa-file-text-o, .fa-user-circle {
	padding: 10px;
}

#descripcion, #autores {
	display: inline;
	font-size: 1rem;
	padding: -10px;
}

.card-header button {
	padding: 0;
}

#buscar {
	border-radius: calc(.25rem - 1px);
}

.collapse .card-body {
	border: 1px solid rgba(0, 0, 0, .125);
}

#carddescripcion, #cardautores {
	border: 0;
}

#taulamodal td {
	background-color: #f8f9fa;
}

#taulamodal th {
	/*min-width: 40%;*/
	font-weight: normal;
}

#taulamodal td {
	/*max-width: 60%;*/
	
}

taulamodal th, taulamodal td, taulamodal tr {
	display: block;
	overflow-y: hidden;
	max-height: 20px;
}

.justify-content-between {
	padding-bottom: 20px;
}

#parrafo1-1 {
	line-height: 1;
}

#parrafo1-2 {
	padding-right: 3%;
}

#imagentabla {
	border: 1px solid #dee2e6;
	padding: 2px;
	border-radius: 8px;
}

#selectores {
	padding-left: 5px;
	padding-right: 5px;
}